@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --my-color: #fff;
  /* or any other variables/style */
}
[data-theme='dark'] {
  --my-color: #000;
}
[data-theme='pink'] {
  --my-color: #ffabc8;
}

@media (prefers-color-scheme: dark){
  :root{
    --my-color: #252b30;
  }
}

body::-webkit-scrollbar {
  width: 0.50rem;

}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}


body::-webkit-scrollbar-thumb {
  background: #27343f;
  border-radius: 20px;

}

.birthday-people{
 @apply flex-row bg-primary rounded-3xl  my-3 hover:bg-primary-focus cursor-pointer items-center space-x-4 card-body py-2 md:py-6 
}


.error{
  background-image: url(https://images.unsplash.com/photo-1579373903781-fd5c0c30c4cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8NDA0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
}