@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --my-color: #fff;
  /* or any other variables/style */
}
[data-theme='dark'] {
  --my-color: #000;
}
[data-theme='pink'] {
  --my-color: #ffabc8;
}

@media (prefers-color-scheme: dark){
  :root{
    --my-color: #252b30;
  }
}